<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <nav>
        <ul>
            <li><a href="/"><strong>Generic RealEstate.com</strong></a></li>
            <li><a href="/search">Property Search</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Admin</a></li>
        </ul>
    </nav>
    <body>
        
        